.destinations {
    background-image: url(../img/destinations_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px 232px 20px;
}

.destinations_wrapper {
    display: grid;
    grid-template-columns: 1fr 80px;
}

.destinations__title {
    font: var(--chapter-title-font);
    color: var(--chapter-title-color);
    margin: 0;
}

.destinations__link {
    font: var(--chapter-link-font);
    color: var(--button-bg-color);
    text-decoration: none;
    text-align: right;
    padding-top: 20px;
}

.destinations__link:hover {
    text-decoration: underline;
    color: var(--main-alert-color);
    cursor: pointer;
}

.destinations__cards {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}
.destinations__cards:hover {
    cursor: pointer;
}

.destinations__cards_item {
    height: 332px;
    width: 261px;
    min-width: 17%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.indonesia {
    background-image: url(../img/indonesia.jpg);
}

.china {
    background-image: url(../img/china.jpg);
}

.switzerland {
    background-image: url(../img/switzerland.jpg);
}

.montenegro {
    background-image: url(../img/montenegro.jpg);
}

.destinations__cards_item_content {
    background-color: var(--button-text-color);
    border-radius: 0 8px 0 0;
    width: 46%;
    margin-top: 273px;
}

.destinations__cards_item_content_title {
    font: var(--chapter-link-font);
    color: #042521;
    line-height: 25px;
    margin: 0;
    padding: 11px 0 0 0;
}

.destinations__cards_item_content_text {
    font: 500 15px / 24px 'Inter', sans-serif;
    color: #80918E;
    margin: 0;
    padding: 0;
}